# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3
database/complaints.db

# File uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
